*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: sans-serif;
}
header {
 height: 10vh;
}
nav{
    position: fixed;
    width: calc(100% - 20px);
    height: 10vh;
    background-color: whitesmoke;
    box-shadow: #d1d9e1 0,5vh;
}
.FlexContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.flexStart{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.ContainerSize {
    width: 50%;
    height: 100%;
}
.FlexEnd{
    justify-content: flex-end;
    display: flex;
    align-items: center;
}
.a{
    margin: 1VH;
    text-decoration: none;
}

.BackGroundColor{
    background-color: #b4d0e7;
    height: 76vh;
}

.ImgSize{
    height: 40vh;
    
}
.JustifyCenter{
   justify-content: center;
}
.flex{
    display: flex;
}
.JustifyCenter h1{
    margin: 10vh 35vh;
    font-size: 4.5em;
}
.Box{    
    width: 50%;
    height: 70vh;
}
.Box:first-child{
    padding-left: 18%;
    margin-right: 5%;
}

.Box button{
    margin: 8% auto;
    padding: 1% 2%;
    background-color: #0061ff;
    border: none;
    color: whitesmoke;
}
#TextSize{
    font-size: 0.8em;
}
.Box i{
    padding: 3%;
    font-size: 3em;
    margin-left: -3%;
}
.MarginRight{
    margin-right: 20%;
}
.flex h2{
    margin-top: 8%;
    margin-left: 21%;
    font-size: 2.3em;
}
.PositinRelative{
    position: relative;
}
.PositionAbsolute{
    position: absolute;
}
.Position{
    top: 117%;
    left: 21%;
}
.Position span{
    margin-right: 6vh;
    font-size: 0.8em;
}
.ColumnSize{ 
    height: 100vh;
    width: calc(100% / 3 - 10%);
    margin-top: 20vh;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.backgroundwhite{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 5vh;
}
.AlignCenter{
    align-content: center;
}
.SpaceAround{
    justify-content: space-around;
}
.TextFormatting{
    padding: 7%;
    line-height: 2.5em;
}
.TexTSize2{
    font-size: 0.8em;
}
.TexTSize2 button{
    padding: 4%;
    margin: 4% auto;
    margin-top: 11%;
    color: white;
    background-color:#0061ff;
    font-size: 0.8em;
    width: 23vh;
}
.TexTSize2 hr{
    margin-right: 77%;
}
.LineHeight{
    line-height: 1em;
}
.ContainerSize2{
    margin: 0px 34vh;
    height: 120h;
}
.MarginTexT{
    margin-top: 3vh;
}
.Container{
    margin: 10vh auto;
    max-width: 58vw;
    min-height: 30vh;
}
.Space-Between{
    justify-content: space-between;
}
.Border1{
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.MarginBox{
    margin-top: 5%;
    margin-left: 6%;
}
.MarginBox h3{  
    margin-top: 6%;
}
.MarginBox p{  
    margin-top: 21%;
}
.TextAlign{
    text-align: left;
}
.ButtonEnter{
    margin-right: 4%;
}
.ButtonEnter button{
    margin-top: 24%;
    margin-right: 0%;
    background-color: #0061ff;
    color: white;
    padding: 0.8em;
    width: 14vw;
}
.yellow{
    background-color: yellow;
    height: 40vh;
}
.purple{
    height: 60vh;
    width: calc(100% /2);
    object-fit: contain;    
}
.TexTBox {
    margin-left: 5%;
    padding: 7%;
    height: 60vh;
    width: calc(100% /2);
}
.MarginTop{
    margin-top: 8%;
}
.MarginTop button{
    padding: 0.6em;
    background-color: white;
}
.border{
    width: calc(100% / 3);
    height: 61vh;
}
.border p{
    font-size: 0.8em;
}
.ImgCardSize{
    height:30vh
}
.FlexWrap{
    flex-wrap: wrap;
}
.Container100vw{
    width: calc(100% - 1vw);
    min-height: 100vh;
}
.Columnsize{
    width: 30vw;
    height: 30vh;
}
.ColumnsizeCenter{
    width: 40vw;
}
.border2{
    width: calc(100% / 2);
    height: 30vh;
    border: 1px solid;
}
.FlexRow{
    flex-direction: row;
}
.acqua{
    background-color: aqua;
    width: 100%;
    height: 30vh;
    margin-top: -40vh;
}
.whitesmoke{
    background-color: whitesmoke;
}